<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>images and texts</title>
    <link rel="stylesheet" href="/templates/CSS/styles.css">
</head>
<body>
    <div class="image-block">
        <img class="rect-img" src="elon.webp" alt="Image">
        <img class="sqr-img" src="elon.webp" alt="Image">
        <img class="circle-img" src="elon.webp" alt="Image">
    </div>
    <div class="seach-boxes">
        <input class="rounded-corners" type="text" placeholder="Search">
        <input class="no-border" 
            type="text" 
            placeholder="Search Google ot type Url"
        >
    </div>
    <div class="linked-in">
        <label class="text-class" for="Email">Email</label><br>
        <input type="email" name="email" id="email"
            placeholder="" class="email-field"
        >
        <p class="text-class">
            By clicking Agree & Join, 
            you agree to the Privacy Policy
        </p>
        <button class="join-btn">
            Agree & Join
        </button>
    </div>
    <hr>
    <div class="twitter">
        <img class="twitter-dp" src="elon.webp" alt="">
        <input type="text" name="tweet-" id="tweet"
            class="tweet-msg"
            placeholder="What's happening?"
        >
        <button class="tweet-btn">Tweet</button>
    </div>
</body>
</html>