<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="ex13g.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>exercise 13</title>
</head>
<body>
    <div class="container">
        <div class="image-section">
            <img src="elon.webp" alt="Avatar" class="profile-pic">
        </div>
        <div class="msg-section">
            <div class="user-id">
                <p>
                    <span class="users-name">Elon Musk</span>                 
                    <span class="user-handle">@elonmusk</span>
                </p>
                
            </div>
            <div class="tweet">
                <p class="tweet-msg">
                    Twitter is an accelerant for X, the everything App
                </p>
            </div>
            <div class="media-section">
                <div class="media-preview-section">
                    <img src="tesla.jpg" alt="Avatar" class="media-preview">
                </div>
                <div class="media-info">
                    <a href="tesla.com" class="media-link">tesla.com</a>
                    <p class="media-description">
                        How the electric
                        automobile manufacture
                        plans the world
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--Next-->
    <div class="container">
        <div class="image-section">
            <img src="elon.webp" alt="Avatar" class="profile-pic">
        </div>
        <div class="msg-section">
            <div class="user-id">
                <p>
                    <span class="users-name">Elon Musk</span>                 
                    <span class="user-handle">@elonmusk</span>
                </p>
                
            </div>
            <div class="tweet">
                <p class="tweet-msg">
                    Twitter is an accelerant for X, the everything App
                </p>
            </div>
            <div class="media-section">
                <div class="media-preview-section">
                    <img src="tesla.jpg" alt="Avatar" class="media-preview">
                </div>
                <div class="media-info">
                    <a href="tesla.com" class="media-link">tesla.com</a>
                    <p class="media-description">
                        How the electric
                        automobile manufacturer
                        plans the world a better place.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>