<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="ex13c.css">
    <title>Gmail ios</title>
</head>
<body>
    <div class="container">
        <div class="notification-header">
            <p class="message-group">ALL INBOXES</p>
        </div>
        <div class="message-preview">
            <div>
                <img src="elon.webp" alt="Avatar" class="profile-pic">
            </div>
            <div class="message">
                <div class="message-header">
                    <p class="msg-sender">Chewy Promotions</p>
                    <p class="time-stamp">4:58 PM</p>
                </div>
                <p class="msg-title">Lorem ipsum dolor sit amet.</p>
                <p class="message-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Aperiam sapiente nesciunt sint suscipit consectetur! 
                     Illo aliquam rerum nihil dignissimos ipsum quia, 
                     ex asperiores odio harum tenetur.
                     Voluptas quibusdam unde neque..
                </p>
            </div>
        </div>
        <div class="message-preview">
            <div>
                <img src="elon.webp" alt="Avatar" class="profile-pic">
            </div>
            <div class="message">
                <div class="message-header">
                    <p class="msg-sender">Lorem ipsum.</p>
                    <p class="time-stamp">4:58 PM</p>
                </div>
                <p class="msg-title">Lorem ipsum dolor sit.</p>
                <p class="message-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Aperiam sapiente nesciunt sint suscipit consectetur! 
                     Illo aliquam rerum nihil dignissimos ipsum quia, 
                     ex asperiores odio harum tenetur.
                     Voluptas quibusdam unde neque.
                </p>
            </div>
        </div>
        <div class="message-preview">
            <div>
                <img src="elon.webp" alt="Avatar" class="profile-pic">
            </div>
            <div class="message">
                <div class="message-header">
                    <p class="msg-sender">Lorem.</p>
                    <p class="time-stamp">4:58PM</p>
                </div>
                <p class="msg-title">Lorem ipsum dolor sit.</p>
                <p class="message-content">
                    Hey there! We're wrirng to tell you about 
                    our new discoveris in promotion sales and marketing
                </p>
            </div>
        </div>
        <div class="message-preview">
            <div>
                <img src="elon.webp" alt="Avatar" class="profile-pic">
            </div>
            <div class="message">
                <div class="message-header">
                    <p class="msg-sender">Lorem ipsum dolor sit</p>
                    <p class="time-stamp">4:58 PM</p>
                </div>
                <p class="msg-title">Biggest sales of the year</p>
                <div>
                    <p class="message-content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Aperiam sapiente nesciunt sint suscipit consectetur! 
                        Illo aliquam rerum nihil dignissimos ipsum quia, 
                        ex asperiores odio harum tenetur.
                        Voluptas quibusdam unde neque.
                    </p>
                </div>
                
            </div>
        </div>
    </div>

</body>
</html>