.container{
    display: flex;
    flex-direction: row;
    
    height: 80px;
}
.left-section{
    background-color: lightpink;
    width: 100px;

}
.right-section{
    background-color: lightblue;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 200px;
}
.right-section-left{
    margin-top: -5px;
}
.row-1{
    margin-top: 0px;
}
.row-2{
    background-color: black;
    color: white;
    margin-top: -10px;
    font-size: 15px;
} .row-3{
    background-color: black;
    color: white;
}

