<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="web design blog, travery media">
    <meta name="description" content="Awesome blog by Traversy media">
    <title>blogpage</title>
    
    <style type="text/css">
        #mainheader{
            text-align: center;
            background-color: black;
            font-size: 22;
            padding: 10px;
            color: white;
        }
        #mainfooter{
            text-align: center;
            background-color: black;
            font-size: 17px;
            padding: 10px;
            color: white;
        }
    </style>
</head>
<body>
    
    <header id="mainheader">
        <h1>My Website</h1>
        <a href="blog.html">Go to home</a>
    <hr>
    </header>
    <section>
        <article>
            <h3>blogpost 1</h3>
            <small>posted by Felix on Oct 4</small>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Obcaecati officiis eos tempore at suscipit, eaque nam 
            consequuntur in sunt, corporis, asperiores reiciendis consequatur 
            necessitatibus consectetur neque odit. Mollitia, quos iusto?
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Dignissimos id exercitationem numquam sapiente, autem quo impedit 
            illo ea dolorum architecto ipsum repellat et inventore ullam voluptatem quam. 
            Harum delectus nesciunt, totam maxime sint expedita quae culpa sit itaque iure, 
            aliquam doloribus voluptatum eligendi consectetur deleniti? Corporis at 
            repudiandae animi hic corrupti officia? Atque aliquam possimus architecto 
            quis, cum aliquid distinctio at sint vel natus ut vitae debitis suscipit 
            quibusdam obcaecati cumque illo assumenda mollitia repellat ducimus 
            voluptatum unde sunt pariatur voluptatem. Asperiores placeat omnis, 
            autem nemo provident neque laboriosam consequatur 
            quis dolores eius tenetur sapiente ipsum eos obcaecati in sequi?
            </p>
            <a href="post.html">Read More</a>

        </article>
        <article>
            <h3>blogpost 1</h3>
            <small>posted by Felix on Oct 4</small>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Obcaecati officiis eos tempore at suscipit, eaque nam 
            consequuntur in sunt, corporis, asperiores reiciendis consequatur 
            necessitatibus consectetur neque odit. Mollitia, quos iusto?
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Dignissimos id exercitationem numquam sapiente, autem quo impedit 
            illo ea dolorum architecto ipsum repellat et inventore ullam voluptatem quam. 
            Harum delectus nesciunt, totam maxime sint expedita quae culpa sit itaque iure, 
            aliquam doloribus voluptatum eligendi consectetur deleniti? Corporis at 
            repudiandae animi hic corrupti officia? Atque aliquam possimus architecto 
            quis, cum aliquid distinctio at sint vel natus ut vitae debitis suscipit 
            quibusdam obcaecati cumque illo assumenda mollitia repellat ducimus 
            voluptatum unde sunt pariatur voluptatem. Asperiores placeat omnis, 
            autem nemo provident neque laboriosam consequatur 
            quis dolores eius tenetur sapiente ipsum eos obcaecati in sequi?
            </p>
            <a href="post.html">Read More</a>

        </article>
        <article>
            <h3>blogpost 1</h3>
            <small>posted by Felix on Oct 4</small>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Obcaecati officiis eos tempore at suscipit, eaque nam 
            consequuntur in sunt, corporis, asperiores reiciendis consequatur 
            necessitatibus consectetur neque odit. Mollitia, quos iusto?
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Dignissimos id exercitationem numquam sapiente, autem quo impedit 
            illo ea dolorum architecto ipsum repellat et inventore ullam voluptatem quam. 
            Harum delectus nesciunt, totam maxime sint expedita quae culpa sit itaque iure, 
            aliquam doloribus voluptatum eligendi consectetur deleniti? Corporis at 
            repudiandae animi hic corrupti officia? Atque aliquam possimus architecto 
            quis, cum aliquid distinctio at sint vel natus ut vitae debitis suscipit 
            quibusdam obcaecati cumque illo assumenda mollitia repellat ducimus 
            voluptatum unde sunt pariatur voluptatem. Asperiores placeat omnis, 
            autem nemo provident neque laboriosam consequatur 
            quis dolores eius tenetur sapiente ipsum eos obcaecati in sequi?
            </p>
            <a href="post.html">Read More</a>

        </article>
    </section>
    <aside>
        <h3>Cartegories</h3>
        <nav>
            <ul>
                <li><a href="#">Category 1</a></li>
                <li><a href="#">Category 2</a></li>
                <li><a href="#">Category 3</a></li>
                <li><a href="#">Category 4</a></li>
                <li><a href="#">Category 5</a></li>
            </ul>
        </nav>
    </aside>
    <div style="margin-top: 500px"></div>
    <footer id="mainfooter">
        <p>Copyright &Copy; 2022, Indiana Polis</p>
    </footer>
</body>
</html>