<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>css-text-styles</title>
    <link rel="stylesheet" href="CSS/styles.css">
</head>
<body>
    <p class="tahoma-class">This is Tahoma Font</p>
    <!--Font verdana-->
   <p class="heading">HTML CSS Course</p>
   <p class="sub-heading">Beginer to Pro</p>
   <p class="description">
    In this course, we'll learn the skills you need to become a developer
   </p>
   <button class = "get-started-btn">
    Get Started
   </button>
   <!--Font arial-->
   <p class="biggest-deals">Biggest Deals of the Year</p>
   <p class="sales-end">Sales end Tuesday</p>
   <p class="shopping">
    <!--Font Arial-->
    Shopping for your business?
   </p>
   <p class="shopping-help">
    See how Apple at Work can help
   </p>
   <!--Link learn more font Arial-->
   <div class="link-parent">
    <a href="#" class="link">Learn more &#62</a>
   </div>
   <hr>
   <!--Super charged for pros-->

   <!--MacBook Pro-->
   <div class="macbook-tings">
    <p class="new-offer">New</p>
    <p class="macbook-head">MacBook Pro</p>
    <p class="macbook-desc">Super Charged for pros.</p>
    <p class="macbook-price">From $1999</p>
    <button class="buy-btn">Buy</button>
   </div>
   <hr>

   <!--Tweet-->
   <div class="tweet">
        <p class="tweet-head">
            <span class="profile-name">
                freeCodeCamp.org
            </span>  
            <span class="tweeter-handle">
                @freeCodeCamp 1h
            </span>
        </p>
        <p class="message-1">
            As a web debeloper, you'll want ro make projects easy to 
            use and navigate around.
        </p>
        <p class="message-2">
            Here <span class="mentioned-handle">@chp_it</span>
            outlines the top skills new developers should have.
        </p>
   </div>
   <!--Stock-->
   <hr>
   <div class="stock">
        <p class="price-inf">
            <span class="stock-price">1,049.61</span>
            <span class="currency">USD</span>
        </p>
        <p class="pos-price-deviation">
            +18.05 (1.75%) today
        </p>
        <p class="forecast-data">
            <span class="forecast-price">After hours 1,408.00</span>
            <span class="neg-price-deviation">-1.61(0.15%)</span>
        </p>

   </div>
   <hr>
   <div style="margin-top: 200px;"></div>
   

</body>
</html>