<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Grid</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="facebook-profiles">
        <!--Profile -->
        <div class="friend-profile">
            <div>
                <img src="elon.webp" alt="" class="profile-pic">
            </div>
            <div>
                <p class="user-name">Elon Musk</p>
            </div>
            <div class="mutual-friends">
                <img src="elon.webp" alt="" class="mutual-friend-img">
                <p class="mutual-friends-count">2 mutual friends</p>
            </div>
            <div>
                <button class="add-friend-btn">
                    Add Friend
                </button>
            </div>
        </div>
        <!--Profile -->
        <div class="friend-profile">
            <div>
                <img src="elon.webp" alt="" class="profile-pic">
            </div>
            <div>
                <p class="user-name">Elon Musk</p>
            </div>
            <div class="mutual-friends">
                <img src="elon.webp" alt="" class="mutual-friend-img">
                <p class="mutual-friends-count">2 mutual friends</p>
            </div>
            <div>
                <button class="add-friend-btn">
                    Add Friend
                </button>
            </div>
        </div>
        <!--Profile -->
        <div class="friend-profile">
            <div>
                <img src="elon.webp" alt="" class="profile-pic">
            </div>
            <div>
                <p class="user-name">Elon Musk</p>
            </div>
            <div class="mutual-friends">
                <img src="elon.webp" alt="" class="mutual-friend-img">
                <p class="mutual-friends-count">2 mutual friends</p>
            </div>
            <div>
                <button class="add-friend-btn">
                    Add Friend
                </button>
            </div>
        </div>
        <!--Profile -->
        <div class="friend-profile">
            <div>
                <img src="elon.webp" alt="" class="profile-pic">
            </div>
            <div>
                <p class="user-name">Elon Musk</p>
            </div>
            <div class="mutual-friends">
                <img src="elon.webp" alt="" class="mutual-friend-img">
                <p class="mutual-friends-count">2 mutual friends</p>
            </div>
            <div>
                <button class="add-friend-btn">
                    Add Friend
                </button>
            </div>
        </div>
        <!--Profile -->
        <div class="friend-profile">
            <div>
                <img src="elon.webp" alt="" class="profile-pic">
            </div>
            <div>
                <p class="user-name">Elon Musk</p>
            </div>
            <div class="mutual-friends">
                <img src="elon.webp" alt="" class="mutual-friend-img">
                <p class="mutual-friends-count">2 mutual friends</p>
            </div>
            <div>
                <button class="add-friend-btn">
                    Add Friend
                </button>
            </div>
        </div>
        <!--Profile -->
        <div class="friend-profile">
            <div>
                <img src="elon.webp" alt="" class="profile-pic">
            </div>
            <div>
                <p class="user-name">Elon Musk</p>
            </div>
            <div class="mutual-friends">
                <img src="elon.webp" alt="" class="mutual-friend-img">
                <p class="mutual-friends-count">2 mutual friends</p>
            </div>
            <div>
                <button class="add-friend-btn">
                    Add Friend
                </button>
            </div>
        </div>
        <!--Profile -->
        <div class="friend-profile">
            <div>
                <img src="elon.webp" alt="" class="profile-pic">
            </div>
            <div>
                <p class="user-name">Elon Musk</p>
            </div>
            <div class="mutual-friends">
                <img src="elon.webp" alt="" class="mutual-friend-img">
                <p class="mutual-friends-count">2 mutual friends</p>
            </div>
            <div>
                <button class="add-friend-btn">
                    Add Friend
                </button>
            </div>
        </div>
        <!--Profile -->
        <div class="friend-profile">
            <div>
                <img src="elon.webp" alt="" class="profile-pic">
            </div>
            <div>
                <p class="user-name">Elon Musk</p>
            </div>
            <div class="mutual-friends">
                <img src="elon.webp" alt="" class="mutual-friend-img">
                <p class="mutual-friends-count">2 mutual friends</p>
            </div>
            <div>
                <button class="add-friend-btn">
                    Add Friend
                </button>
            </div>
        </div>
        <!--Profile -->
        <div class="friend-profile">
            <div>
                <img src="elon.webp" alt="" class="profile-pic">
            </div>
            <div>
                <p class="user-name">Elon Musk</p>
            </div>
            <div class="mutual-friends">
                <img src="elon.webp" alt="" class="mutual-friend-img">
                <p class="mutual-friends-count">2 mutual friends</p>
            </div>
            <div>
                <button class="add-friend-btn">
                    Add Friend
                </button>
            </div>
        </div>
        <!--Profile -->
        <div class="friend-profile">
            <div>
                <img src="elon.webp" alt="" class="profile-pic">
            </div>
            <div>
                <p class="user-name">Elon Musk</p>
            </div>
            <div class="mutual-friends">
                <img src="elon.webp" alt="" class="mutual-friend-img">
                <p class="mutual-friends-count">2 mutual friends</p>
            </div>
            <div>
                <button class="add-friend-btn">
                    Add Friend
                </button>
            </div>
        </div>
        <!--Profile -->
        <div class="friend-profile">
            <div>
                <img src="elon.webp" alt="" class="profile-pic">
            </div>
            <div>
                <p class="user-name">Elon Musk</p>
            </div>
            <div class="mutual-friends">
                <img src="elon.webp" alt="" class="mutual-friend-img">
                <p class="mutual-friends-count">2 mutual friends</p>
            </div>
            <div>
                <button class="add-friend-btn">
                    Add Friend
                </button>
            </div>
        </div>
        <!--Profile -->
        <div class="friend-profile">
            <div>
                <img src="elon.webp" alt="" class="profile-pic">
            </div>
            <div>
                <p class="user-name">Elon Musk</p>
            </div>
            <div class="mutual-friends">
                <img src="elon.webp" alt="" class="mutual-friend-img">
                <p class="mutual-friends-count">2 mutual friends</p>
            </div>
            <div>
                <button class="add-friend-btn">
                    Add Friend
                </button>
            </div>
        </div>
    </div>
</body>
</html>