<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    
    <h1>Heading</h1>
    <h6>Heading2</h6>
    <p>
        Lorem <strong>dolor sit amet</strong> , consectetur adipisicing
        elit. Necessitatibus fuga optio, officia cum omnis
        , <em>deserunt dolorem. Saepe</em> inventore quos.
        Accusantium sit quis, <a href="http://google.com" target="_blank">google</a> 
        quaerat rem aliquam iste 
        aut reprehenderit quod eum at sint earum nobis
        quas deleniti fugiat quibusdam eveniet excepturi!
        Est atque provident ratione, asperiores
        velit debitis sint expedita! Exercitationem?
    </p>
   
    <ul>
        <li>list item1</li>
        <li>list item1</li>
        <li>list item1</li>
        <li>list item1</li>
        <li>list item1</li>
        <li>list item1</li>
    </ul>
    <ol>
        <li>list item1</li>
        <li>list item1</li>
        <li>list item1</li>
        <li>list item1</li>
        <li>list item1</li>
        <li>list item1</li>
    </ol>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Felix</td>
                <td>abc@abc.com</td>
                <td>35</td>
            </tr>
            <tr>
                <td>Felix</td>
                <td>abc@abc.com</td>
                <td>35</td>
            </tr>
            <tr>
                <td>Felix</td>
                <td>abc@abc.com</td>
                <td>35</td>
            </tr>
            
        </tbody>
    </table>
    <br>
            <hr>
            
            <!-- # form -->
            <form action="" method="post">
                <div>
                    <label for="firstname">First Name</label>
                    <input type="text" name="firstname">
                </div>
                <br>
                <div>
                    <label for="firstname">Last Name</label>
                    <input type="text" name="firstname">
                </div>
                <br>
                <div>
                    <label for="firstname">email</label>
                    <input type="email" name="firstname">
                </div>
                <br>
                <div>
                    <label for="firstname">Message</label>
                    <textarea name="msg" id="" cols="30" rows="10"></textarea>
                </div>
                <br>
                <div>
                    <label for="">Gender</label>
                    <select name="gender" id="">
                        <option value="male">Male</option>
                        <option value="male">Feale</option>
                        <option value="male">Other</option>
                    </select>
                </div>
                <br>
                <div>
                    <label for="firstname">Age</label>
                    <input type="number" name="firstname">
                </div>
                <br>
                <div>
                    <label for="firstname">Birthday</label>
                    <input type="date" name="firstname">
                </div>
                <br>
                <div>
                    <label for="firstname">Password</label>
                    <input type="password" name="firstname">
                </div>
                <br>
                <input type="submit" name="submit" value="Submit">
            </form>

            <br>
            <button>Click me</button>

            <div>
                <a href="C:/Users/Ojala F Senior/Downloads/jpg2png/team-3.png">
                    <img src="C:/Users/Ojala F Senior/Downloads/jpg2png/team-3.png" alt="Image"
                    width="200">
                </a>
            </div>

            <!-- Quotation-->
            <blockquote cite="google.com">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Nemo laborum ipsam quidem expedita earum modi minus adipisci
                 aliquid totam velit pariatur consequatur itaque voluptate 
                aperiam dignissimos consectetur, excepturi labore dolorem.
            </blockquote>

            <p>The <abbr title="Wordl wode web">www</abbr> ai awesome</p>
    <div style="margin-top: 500px"></div>
</body>
</html>